# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Ignore all DBs just in case, except demo
*.db
*.sqlite3
!demo_telemetry.db
